@use '../../lib/service.scss' as s;

.alert {
    display: flex;
    justify-content: space-between;
    margin: s.space(4);
    padding: s.space(4);
    gap: s.space(8);
    border: 1px solid s.color('light');
    border-radius: s.space(3);
    box-shadow: 0px 2px 15px s.color('light');
    
    &__content {
        display: grid;
        gap: s.space(4);
    }

    &__title {
        font-size: 18px;
        padding-bottom: s.space(1);
    }


   

    &__button {
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center; 
        width: 300px;
        border: 1px solid s.color('light');
        margin: s.space(1) 0;
        
        border-radius: s.space(2);
        background: blue;
        color: s.color('light');
        transition: opacity 0.5s;
    }

    &__button:hover {
        opacity: 0.7;
    }

}