{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class="alert">


  <div class="alert__content">
    <h1 class="alert__title">Успішне виконання дії</h1>
    <div class="alert__description">{{info}}</div>
  </div>

  <a class="alert__button" href="/product-list">Повернутися назад</a>


</div>

{{!
Цей код містить лише те, що буде виводитись в

<body>
  Адже наш layout/default.hbs має вже структуру HTML
  }}