@use '../../lib/service.scss' as s;

.card {
    display: flex;
    padding: s.space(3);
    border: 1px solid s.color('light');
    border-radius: s.space(3);
    box-shadow: 0px 2px 15px s.color('light');
    
    &__content {
            display: grid;
            gap: s.space(4);
        }

    &__name {
        font-size: 18px;
        font-weight: 400;
    }

    &__description {
        line-height: 1.2;
    }

    &__id {
        color: grey;
    }

    &__cost {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    &__button {
        color: blue;
        text-decoration: none;
        transition: opacity 0.5s;
    }

    &__button:hover {
        opacity: 0.7;
    }

    &__price {
        font-size: 18px;
        align-self: center;
    }

}